  <aside class="author">
    <img class="profile-image" src="{{author.image}}" alt="{{author.name}}" />
    <p class="name">by <strong>{{author.name}}</strong></p>
    {{#if author.location}}
    <p class="address">{{author.location}}</p>
    {{/if}}
    <p class="link"><a href="{{author.website}}" title="{{author.name}} - Computer ScientistUI/UX Designer">cesarvelandia.com</p>

    <ul class="social">
      <li><a class="icon-twitter" href="http://twitter.com/cesardvelandia" title="Follow me on Twitter"></a></li>
      <li><a class="icon-googleplus" href="https://plus.google.com/+CésarDarioVelandia/posts" title="Socialize on g+"></a></li>
      <li><a class="icon-github" href="https://github.com/cdario/" title="Collaborate on Github"></a></li>
      <li><a class="icon-mail" href="mailto:c@cesarvelandia.com" title="Or just Emai me"></a></li>
    </ul>
  </aside>

