  <aside class="author">
    <img class="profile-image" src="{{author.image}}" alt="{{author.name}}" />
    <p class="name">by <strong>{{author.name}}</strong></p>
    {{#if author.location}}
    <p class="address">{{author.location}}</p>
    {{/if}}
    <p class="link"><a href="{{author.website}}" title="{{author.name}} // Computer scientist &amp; full-stack developer">cesarvelandia.com</p>
	{{>social-media}}
  </aside>

