  <aside class="author">
  <a href="{{@blog.url}}/about">
    <img class="profile-image" src="{{author.image}}" alt="{{author.name}}" />
    </a>
    <p class="name">by <u>{{author.name}}</u></p>
    {{#if author.location}}
    <p class="address">{{author.location}}</p>
    {{/if}}
    <p class="link"><a href="{{author.website}}" title="{{author.name}} // Computer scientist &amp; full-stack developer">cesarvelandia.com</p>
	{{>social-media}}
  </aside>

