  <aside class="author">
            <img class="profile-image" src="{{author.image}}" alt="" />
            <p class="name">by <strong>{{author.name}}</strong></p>
	{{#if author.location}}
            <p class="address">{{author.location}}</p>
	{{/if}}

            <p class="link"><a href="{{author.website}}" title="{{author.name}} - Computer ScientistUI/UX Designer">cesarvelandia.com</p>

            <ul class="social">
              <li><a class="icon-twitter" href="http://twitter.com/rriegger" title="Follow me on Twitter"></a></li>
              <li><a class="icon-dribbble" href="https://dribbble.com/rriegger" title="See what I'm working on Dri"</a></li>
              <li><a class="icon-behance" href="https://www.behance.net/rriegger" title="Check out my work on Be"</a></li>
            </ul>
    </aside>

