<!doctype html>
<html class="no-js">
<head>
  {{! Document Settings }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{! Page Meta }}
  <title>{{meta_title}} </title>
  <meta name="description" content="{{meta_description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link href="{{asset "css/typography.css"}}" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{asset "css/styles.css"}}">
  <link rel="shortcut icon" type="image/png" href="{{@blog.logo}}"/>
  {{ghost_head}}
  <script src="{{asset "js/vendor/modernizr-2.8.0.min.js"}}"></script>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.4/styles/foundation.min.css">

</head>
<body class="{{body_class}}">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <header class="site-header" style="background-image:url({{@blog.cover}})">
            <a class="logo ir" href="#">
              <div class="main-title">{{@blog.description}}</div>
            </a> 
          <!-- <h2>              
          <a class="maintitle" href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.description}}</a>
          </h2> -->
            </header>
            
            {{{body}}}

            <footer class="main-footer">
              <div class="container clearfix">
               
                <a class="icon-rss" href="{{@blog.url}}/rss/" title="RSS Feed"></a>
                <p>All content copyright to <a href="{{@blog.url}}" title="// Computer scientist &amp; full-stack developer">{{@blog.title}}</a> &copy; 2014. All rights reserved.</p>
                <p>Proudly published with Ghost. Theme by <a href="http://rriegger.com" title="Raphael Riegger - UI/UX Designer">Raphael Riegger</a></p>
                
              </div>
            </footer>

            {{ghost_foot}}


            <script async src="{{asset "js/vendor/jquery-1.11.0.min.js"}}"></script>
            <!--script>window.jQuery || document.write('<script src="{{asset "js/vendor/jquery-1.11.0.min.js"}}"><\/script>')</script-->
            <script src="{{asset "js/plugins.js"}}"></script>
            <script src="{{asset "js/main.js"}}"></script>

	<script async src="{{asset "/js/plugins/jquery.fitvids.js"}}"></script>
	<script async src="{{asset "/js/script.js"}}"></script>
	{{#if post}}
        	 <script src="http://yandex.st/highlightjs/7.4/highlight.min.js"></script>
         	<script>hljs.initHighlightingOnLoad();</script>
	{{/if}}


            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-54526235-1', 'auto');
              ga('send', 'pageview');

            </script>
          </body>
          </html>
